@media screen and (max-width: 800px) {
	.is-responsive {
		margin: 0 auto;
		width: 100%;
		border-spacing: 0;
	}

	.is-responsive thead {
		position: absolute;
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}

	.is-responsive tbody,
	.is-responsive tr,
	.is-responsive th,
	.is-responsive td {
		display: block;
		padding: 0;
		text-align: left;
		white-space: normal;
	}

	.is-responsive tr td,
	.is-responsive tr th {
		padding: 1em 0.5em;
		vertical-align: middle;
		overflow: hidden;
		position: relative;
		border: 1px solid #EDF0F1;
		border-top: none;
		width: 100%;
		white-space: normal;
	}

	.is-responsive th[scope="row"] {
		width: 100%;
		text-align: center;
		display: block;
		background-color: #B3BFC6;
		margin: 0 auto;
		padding: .5em 0;
	}

	.is-responsive td[data-header]:before {
		content: attr(data-header);
		display: block;
		color: grey;
		font-weight: bold;
		text-align: left;
		font-size: 10pt;
	}

	.is-responsive td[data-header] > * {
		display: block;
		/*float: right;*/
		/*clear: right;*/
		margin-top: 0;
	}

	.is-responsive td[data-header] > button {
		display: inline;
	}

	.is-responsive td[data-header]:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		display: block;
	}
}