{% extends "public/base.html" %}

{% block container %}

    <!-- Page Heading/Breadcrumbs -->
    <header class="app-main-header">
        <h1 class="app-main-header__title" >Manifesto</h1>
    </header>

    <ol class="app-main-breadcrumb breadcrumb">
      <li class="app-main-breadcrumb-item breadcrumb-item">
        <a class="app-main-breadcrumb-item__a" href="index.html">Home</a>
      </li>
      <li class="app-main-breadcrumb-item--sub breadcrumb-item active">소개</li>
      <li class="app-main-breadcrumb-item--sub breadcrumb-item active">Manifesto</li>
    </ol>

    <div class="col-sm-12">
        <div class="mb-5">
            <h2>핵심 가치</h2>
            <p class="h4 text-primary">나눔, 소통, 과학</p>
        </div>

        <div class="mb-5">
            <h2>비전</h2>
            <p class="h4 text-success">“재능기부를 통한 행동하는 나눔 문화의 확산자”</p>

            <p class="text">
                「10월의 하늘」은 재능기부를 통해 나눔을 실천하고자 하는 분들을 위한 성실한 매개자가 되며, 나아가 나눔 문화가 우리 사회 전반으로 확산될 수 있도록 기여하고자
                합니다.<br><br>

                나눔은 일상을 풍요롭게 만들고 자기 자신을 성장시키며, 사회와 공동체를 아름답게 변화시키는 실천입니다. 재능 기부는 나눔의 훌륭한 방법입니다. 자기가 가진 재능을 다른 이들과
                나눔으로써 그들의 삶의 질을 향상시키고, 영감과 희망을 줄 수 있습니다. 이를 통해 그 재능은 개인적 차원을 넘어서 사회적 재능으로 확대되는 것입니다.
            </p>

            <p class="h4 text-success">“청소년들에게 과학에 대한 꿈을 심어주는 인큐베이터”</p>

            <p class="text">
                「10월의 하늘」은 청소년들에게 과학에 대한 관심을 불러일으키고 자연과 우주, 생명이 주는 신비와 경이로움을 전달함으로써, 이들이 과학에 대해 꿈을 꾸고, 장차 미래의 과학자로
                성장할 수 있도록 도와주는 인큐베이터의 역할을 하고자 합니다.<br><br>

                「10월의 하늘」은 지식의 일방적인 전달이나 수동적인 수용을 지양합니다. ‘과학’을 매개로 재능을 나누는 사람과 그 재능을 전달받는 사람이 서로 따듯한 교감을 나누고, 서로에게
                힘이 될 수 있는 여건을 조성할 것입니다.
            </p>
        </div>

        <div>
            <h2 class="heading">슬로건/표어</h2>
            <p class="h4 text-primary">“오늘의 과학자가 내일의 과학자를 만나다"</p>
        </div>
    </div>
{% endblock %}