{% extends "admin/base.html" %}
{% import 'admin/card-footer.html' as footer with context %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('public.static', filename='css/mobile-table.css') }}">
{% endblock %}

{% block content %}
  <div class="app-main-container container-fluid">
    <h4 class="app-main-breadcrumb__title">FAQ</h4>

    <!-- Breadcrumbs-->
    <ol class="app-main-breadcrumb breadcrumb">
      <li class="app-main-breadcrumb-item breadcrumb-item">
        <a class="app-main-breadcrumb-item__a" href="/admin">10월의 하늘</a>
      </li>
      <li class="app-main-breadcrumb-item--sub breadcrumb-item active">FAQ</li>
    </ol>

    <!-- Page Content -->
    <div class="card">
      <div class="card-body">
        <table class="table table-hover is-responsive">
          <thead>
          <tr>
            <th scope="col" style="width: 6%;">#</th>
            <th scope="col" style="width: 8%;">유형</th>
            <th scope="col">제목</th>
            <th scope="col" style="width: 8%;">작성자</th>
            <th scope="col" style="width: 12%;">작성일</th>
          </tr>
          </thead>
          <tbody>
          {% for row in paginator %}
            <tr>
              <th scope="row">{{ (total_cnt - (items_per_page * (page - 1))) - loop.index0 }}</th>
              <td data-header="유형">{{ row.classify }}</td>
              <td data-header="제목"><a href="{{ url_for('admin.faq_view', faq=row.id) }}">{{ row.subject }}</a></td>
              <td data-header="작성자">{{ row.writer.name }}</td>
              <td data-header="작성일">{{ row.write_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        {% set list_url = url_for('admin.faq') %}
        {% set reg_url = url_for('admin.faq_reg') %}

        {% call footer.make_md_footer("d-none d-md-block", paginator,
           list_url, reg_url, paginate_link_tag, page_url, None) %}
          <select class="form-control" name="search_option">
            <option value="subject">제목</option>
          </select>
        {% endcall %}

        {% call footer.make_sm_footer("d-block d-sm-block d-md-none",
         paginator, list_url, reg_url, paginate_link_tag, page_url, None) %}
          <select class="form-control" name="search_option">
            <option value="subject">제목</option>
          </select>
        {% endcall %}
      </div>
    </div>
  </div>
{% endblock %}