{% extends "admin/base.html" %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="{{ url_for('admin.static', filename='js/summerNote.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="app-main-container container-fluid" id="form">

        <!-- Breadcrumbs-->
        <ol class="app-main-breadcrumb breadcrumb">
            <li class="app-main-breadcrumb-item breadcrumb-item">
                <a class="app-main-breadcrumb-item__a" href="/admin">10월의 하늘</a>
            </li>
            <li class="app-main-breadcrumb-item--sub breadcrumb-item active">FAQ</li>
        </ol>


        <div class="app-main-card">

            <form class="app-main-form" action="">
                <!-- Page Content -->
                <h1>FAQ 수정</h1>
                <hr>
                <div class="form-group row">
                    <label for="inputPw" class="app-main-form__label col-2">유형</label>
                    <div class="col-10">
                        <select id="faqClassify" class="form-control" v-model="faqClassify" :class="{'is-invalid': faqClassify === ''}">
                        <option value="">FAQ 유형을 선택하세요</option>
                        <option value="재능기부자">재능기부자</option>
                        <option value="홈페이지">홈페이지</option>
                      </select>
                      <div class="invalid-feedback">FAQ 유형을 반드시 선택해주세요</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="app-main-form__label col-2">제목</label>
                    <div class="col-10">
                        <input type="text" id="faqSubject" class="form-control" placeholder="FAQ 제목이 표시됩니다" v-model="faqSubject">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editor" class="app-main-form__label col-2">본문</label>
                    <div class="col-10">
                        <summer-note v-model="faqBody" id="editor" placeholder="FAQ 본문을 입력하여 주세요"></summer-note>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12 text-right">
                    <button class="btn btn-primary" @click.prevent="modify">수정</button>
                </div>
            </div>
        </div>


    </div>
     <script>
        new Vue({
            el: '#form',
            data: {
                faqClassify: '{{ faq.classify or '' }}',
                faqSubject: '{{ faq.subject or '' }}',
                faqBody: `{{ faq.body | safe or '' }}`
            },
            methods: {
                modify: function (e) {
                    if (this.faqClassify === '') {
                        return false
                    }

                    axios.post('/admin/faq/{{ faq.id }}/edit', {
                        faqClassify: this.faqClassify,
                        faqSubject: this.faqSubject,
                        faqBody: this.faqBody
                    }).then(function (e) {
                        alert('FAQ 수정이 완료되었습니다')
                        location.href = '/admin/faq/{{ faq.id }}'
                    })
                }
            }
        })
    </script>
    <!-- /.container-fluid -->
{% endblock %}
