{% extends "admin/base.html" %}

{% block content %}
    <div class="app-main-container container-fluid">

        <h4 class="app-main-breadcrumb__title">강연자 관리</h4>

        <!-- Breadcrumbs-->
        <ol class="app-main-breadcrumb breadcrumb">
            <li class="app-main-breadcrumb-item breadcrumb-item">
                <a class="app-main-breadcrumb-item__a" href="index.html">10월의 하늘</a>
            </li>
            <li class="app-main-breadcrumb-item--sub breadcrumb-item active">강연자 관리</li>
        </ol>

        <!-- Page Content -->
        <div class="card">
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">이름</th>
                    <th scope="col">도서관</th>
                    <th scope="col">개최회차</th>
                    <th scope="col">강연시간</th>
                    <th scope="col">주제명</th>
                    <th scope="col">공개여부</th>
                </tr>
                </thead>
                <tbody>
                 {% for row in paginator %}
                    <tr>
                        <th scope="row">{{ (total_cnt - (items_per_page * (page - 1))) - loop.index0 }}</th>
                        <td><a href="{{ url_for('admin.lecturer_view', lecturer=row.id) }}">{{ row.lecture_name }}</a></td>
                        <td>{{ row.library.library_name }}</td>
                        <td>{{ row.roundtable.roundtable_num }} 회차</td>
                        <td>{{ row.session_time + 1 }} 시</td>
                        <td>{{ row.lecture_title }}</td>
                         {% if row.lecture_public_yn %}
                             <td>Y</td>
                         {% else %}
                             <td>N</td>
                         {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <nav>
                            <ul class="pagination justify-content-start">
                                {{ paginator.pager(
                                     dotdot_attr={'class':'spacer'},
                                     symbol_first='',
                                     symbol_last='',
                                     symbol_previous='<a href="#"><span>&laquo;</span></a>',
                                     symbol_next='<a href="#"><span>&raquo;</span></a>',
                                     link_tag=paginate_link_tag,
                                     url=page_url|safe) | safe }}
                            </ul>
                        </nav>
                    </div>
                    {% set error_stack = namespace() %}
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          {% for message in messages %}
                            {% set error_stack.class = 'is-invalid' %}
                            {% set error_stack.msg = message %}
                          {% endfor %}
                      {% endif %}
                    {% endwith %}
                    <div class="col-4">
                      <form action="{{ url_for('admin.lecturer') }}" method="get">
                        <input type="hidden" name="page" value="{{ page }}">
                        <div class="input-group">
                          <div class="input-group-preped">
                            <select class="form-control" name="search_option">
                              <option value="lecture_name">이름</option>
                              <option value="library_name">도서관명</option>
                              <option value="roundtable_num">개최회차</option>
                              <option value="session_time">강연시간</option>
                              <option value="lecture_title">강연주제</option>
                            </select>
                          </div>
                          <input type="text" class="form-control {{ error_stack.class }}" placeholder="검색어를 입력하세요" name="search_word">
                          <div class="input-group-append">
                            <button class="btn btn-success" type="submit">검색하기</button>
                          </div>
                          <div class="invalid-feedback">
                            {{ error_stack.msg }}
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-2 text-right">
                        <a href="{{ url_for('admin.lecturer_reg') }}" class="btn btn-primary">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}