{% extends "admin/base.html" %}

{% block css %}
   <style type="text/css">
    .v-select .dropdown-toggle {
      height: 38px !important;
    }

    .v-select .dropdown-toggle::after {
      display: none !important;
    }

    .v-select .spinner, .v-select .spinner:after {
        width: 3em !important;
        height: 3em !important;
    }

    .v-select input[type=search], .v-select input[type=search]:focus {
        margin: 0 0 0 0 !important;
    }

    .v-select .d-center {
        display: flex !important;
        align-items: center !important;
    }

    .v-select .dropdown li {
        border-bottom: 1px solid rgba(112, 128, 144, 0.1) !important;
    }

    .v-select .dropdown li:last-child {
        border-bottom: none !important;
    }

    .v-select .dropdown li a {
        padding: 10px 20px !important;
        width: 100% !important;
        font-size: 1.25em !important;
        color: #3c3c3c !important;
    }

    .v-select .dropdown-menu .active > a {
        color: #fff !important;
    }
  </style>
{% endblock %}

{% block script %}
    <script src="//unpkg.com/vue"></script>
    <script src="//unpkg.com/lodash"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/2.6.0/vue-select.js"></script>
{% endblock %}

{% block content %}
    <div class="app-main-container container-fluid">
        <!-- Breadcrumbs-->
        <ol class="app-main-breadcrumb breadcrumb">
                    <li class="app-main-breadcrumb-item breadcrumb-item">
                        <a class="app-main-breadcrumb-item__a" href="#">강연자 관리</a>
                    </li>
                    <li class="app-main-breadcrumb-item--sub breadcrumb-item active">수정 화면</li>
        </ol>

        <div class="app-main-card" id="form">
            <form class="app-main-form">

                <div class="form-group row">
                    <label for="lectureNum" class="app-main-form__label col-1">개최회차</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="lectureNum"
                               placeholder="개최회차를 입력하세요" v-model="lectureNum">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="libraryName" class="app-main-form__label col-sm-1 col-form-label">도서관명</label>
                    <div class="col-sm-10">
                        {% raw %}
                        <v-select v-model="library" :options="library_list" label="library_name">
                            <template slot="option" slot-scope="option">
                                <div class="d-center">
                                    {{ option.library_name }} ({{ option.library_addr }})
                                </div>
                            </template>
                        </v-select>
                        {% endraw %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lectureTime" class="app-main-form__label col-1">강연 시간</label>
                    <div class="col-sm-10">
                        <!-- TODO: 도서관 및 강연 시간을 선택했을때 이미 입력된 것인지를 확인해야 함(물론 폼을 보여줬을때부터 체크되면 좋겠지만 어차피 관리자 모드라서..) -->
                        <select id="lectureTime" class="form-control" v-model="lectureTime">
                            {% raw %}
                            <template v-if="library !== null">
                                <option :value="time" v-for="time in library.session_time">강연 {{ time }} ({{ time + 1
                                    }}시)
                                </option>
                            </template>
                            {% endraw %}
                            <option value='' v-if="library === null">선택 가능한 강연 시간이 없습니다.</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lectureTitle" class="app-main-form__label col-1">강연 제목</label>
                    <div class="col-sm-10">
                        <input type="text" id="lectureTitle"
                               placeholder="강연 제목을 입력하세요" class="form-control" v-model="lectureTitle">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lectureSummary" class="app-main-form__label col-1">강연개요</label>
                    <div class="col-sm-10">
                <textarea type="text" id="lectureSummary"
                          placeholder="강연개요를 입력하세요"
                          class="form-control" style="height:150px;" v-model="lectureSummary"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lectureExpectedAudience" class="app-main-form__label col-1">예상 청중</label>
                    <div class="col-sm-10">
                        <input type="text" id="lectureExpectedAudience"
                               placeholder="예상 청중을 입력하세요" class="form-control" v-model="lectureExpectedAudience">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label for="lectureName" class="app-main-form__label col-2">강연자명</label>
                            <div class="col-sm-8">
                                <input type="text" id="lectureName"
                                       placeholder="강연자명을 입력하세요"
                                       class="form-control" v-model="lectureName">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label for="lectureBelong" class=" app-main-form__label col-2">소속</label>
                            <div class="col-sm-8">
                                <input type="text" id="lectureBelong"
                                       placeholder="소속을 입력하세요"
                                       class="form-control" v-model="lectureBelong">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label for="lectureHp" class="app-main-form__label col-2">휴대폰</label>
                            <div class="col-sm-8">
                                <input type="text" id="lectureHp"
                                       placeholder="휴대폰 번호를 입력하세요"
                                       class="form-control" v-model="lectureHp">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label for="lectureEmail" class="app-main-form__label col-2">이메일</label>
                            <div class="col-sm-8">
                                <input type="text" id="lectureEmail"
                                       placeholder="이메일 주소를 입력하세요"
                                       class="form-control" v-model="lectureEmail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="lecturePublicYn" v-model="lecturePublicYn"> 강연 영상 공개에 동의하십니까?
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" @click.prevent="modify">수정</button>
            </form>
        </div>

    </div>

    <script>
        Vue.component('v-select', VueSelect.VueSelect);

        new Vue({
            el: '#form',
            data: {
                lectureNum: '{{ lecturer.roundtable.roundtable_num }} 회차',
                library_list: {{ lecturer.roundtable.reg_available_library | tojson }},
                library: null,
                lectureTime: {{ lecturer.session_time }},
                lectureTitle: '{{ lecturer.lecture_title or '' }}',
                lectureSummary: '{{ lecturer.lecture_summary or '' }}',
                lectureExpectedAudience: '{{ lecturer.lecture_expected_audience or '' }}',
                lectureName: '{{ lecturer.lecture_name or '' }}',
                lectureBelong: '{{ lecturer.lecture_belong or '' }}',
                lectureHp: '{{ lecturer.lecture_hp or '' }}',
                lectureEmail: '{{ lecturer.lecture_email or '' }}',
                lecturePublicYn: '{{ lecturer.lecture_public_yn or false }}',
            },
            methods: {
                modify: function (e) {
                    axios.post('/admin/lecturer/{{ lecturer.id }}/edit', {
                        library: this.library,
                        lectureTime: this.lectureTime,
                        lectureTitle: this.lectureTitle,
                        lectureSummary: this.lectureSummary,
                        lectureExpectedAudience: this.lectureExpectedAudience,
                        lectureName: this.lectureName,
                        lectureBelong: this.lectureBelong,
                        lectureHp: this.lectureHp,
                        lectureEmail: this.lectureEmail,
                        lecturePublicYn: this.lecturePublicYn
                    }).then(function (e) {
                        alert('강연자 수정이 완료되었습니다')
                        location.href = '/admin/lecturer/{{ lecturer.id }}'
                    })
                }
            },
            created: function () {
                this.library = _.filter(this.library_list, function (o, collection) {
                    if ({{ lecturer.library.id }} === o.id) {
                        return true
                    }
                })[0]
            }
        })
    </script>
    <!-- /.container-fluid -->
{% endblock %}
