{% extends "admin/base.html" %}
{% import 'admin/card-footer.html' as footer with context %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('public.static', filename='css/mobile-table.css') }}">
{% endblock %}

{% block content %}
  <div class="app-main-container container-fluid">
    <h4 class="app-main-breadcrumb__title">도서관 관리</h4>

    <!-- Breadcrumbs-->
    <ol class="app-main-breadcrumb breadcrumb">
      <li class="app-main-breadcrumb-item breadcrumb-item">
          <a class="app-main-breadcrumb-item__a" href="/admin">10월의 하늘</a>
      </li>
      <li class="app-main-breadcrumb-item--sub breadcrumb-item active">도서관 관리</li>
    </ol>

    <!-- Page Content -->
    <div class="app-main-card card mb-2">
      <div class="card-body">
        <table class="table table-hover is-responsive">
          <thead>
          <tr>
            <th scope="col" style="width: 6%;">#</th>
            <th scope="col" style="width: 10%;">권역</th>
            <th scope="col" style="width: 20%;">도서관명</th>
            <th scope="col" style="width: 10%;">사서명</th>
            <th scope="col" style="width: 10%;">전화</th>
            <th scope="col">주소</th>
          </tr>
          </thead>
          <tbody>
          {% for row in paginator %}
          <tr>
            <th scope="row">{{ (total_cnt - (items_per_page * (page - 1))) - loop.index0 }}</th>
            <td data-header="권역">{{ row.area }}</td>
            <td data-header="도서관명"><a href="{{ url_for('admin.library_view', library=row.id) }}">{{ row.library_name }}</a></td>
            <td data-header="사서명">{{ row.manager_name or '' }}</td>
            <td data-header="전화">{{ row.library_tel or '' }}</td>
            <td data-header="주소">{{ row.library_addr }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        {% set error_stack = namespace() %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                {% set error_stack.class = 'is-invalid' %}
                {% set error_stack.msg = message %}
              {% endfor %}
          {% endif %}
        {% endwith %}

        {% set list_url = url_for('admin.library_list') %}
        {% set reg_url = url_for('admin.library_reg') %}

        {% call footer.make_library_md_footer("d-none d-md-block", paginator, list_url, reg_url, paginate_link_tag, page_url) %}
          <div class="input-group">
            <div class="input-group-preped">
              <select class="form-control" name="area">
                <option value="all">전체</option>
                {% for area in library_area() %}
                <option value="{{ area }}">{{ area }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-group-preped">
              <select class="form-control" name="search_option">
                <option value="library_name">도서관명</option>
                <option value="library_addr">주소</option>
              </select>
            </div>
            <input type="text" class="form-control" placeholder="검색어를 입력하세요" name="search_word">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">검색하기</button>
            </div>
          </div>
        {% endcall %}

        {% call footer.make_library_sm_footer("d-block d-sm-block d-md-none", paginator, list_url, reg_url, paginate_link_tag, page_url, error_stack) %}
          <div class="row">
            <div class="col-12">
              <select class="form-control" name="area">
                <option value="all">전체</option>
                {% for area in library_area() %}
                <option value="{{ area }}">{{ area }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12">
              <select class="form-control" name="search_option">
                <option value="library_name">도서관명</option>
                <option value="library_addr">주소</option>
              </select>
            </div>
          </div>
        {% endcall %}
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
{% endblock %}
