{% extends "admin/base.html" %}
{% import 'admin/card-footer.html' as footer with context %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('public.static', filename='css/mobile-table.css') }}">
{% endblock %}

{% block content %}
  <div class="app-main-container container-fluid">
    <h4 class="app-main-breadcrumb__title">회차 관리</h4>

    <!-- Breadcrumbs-->
    <ol class="app-main-breadcrumb breadcrumb">
      <li class="app-main-breadcrumb-item breadcrumb-item">
        <a class="app-main-breadcrumb-item__a" href="#">10월의 하늘</a>
      </li>
      <li class="app-main-breadcrumb-item--sub breadcrumb-item active">회차 관리</li>
    </ol>

    <div class="app-main-card card mb-2">
      <div class="card-body">
        <table class="table table-hover is-responsive">
          <thead>
          <tr>
            <th scope="col" style="width: 10%;">#</th>
            <th scope="col" style="width: 20%;">개최회차</th>
            <th scope="col" style="width: 20%;">개최년도</th>
            <th scope="col" style="width: 20%;">개최일</th>
            <th scope="col">도서관 수</th>
          </tr>
          </thead>
          <tbody>
          {% for row in paginator %}
            <tr>
              <th data-header="#" scope="row">{{ (total_cnt - (items_per_page * (page - 1))) - loop.index0 }}</th>
              <td data-header="개최회차">
                <a href="{{ url_for('admin.roundtable_view', round=row.id) }}">{{ row.roundtable_num }}회차</a>
              </td>
              <td data-header="개최년도">{{ row.roundtable_year }}년도</td>
              <td data-header="개최일">{{ row.roundtable_date }}</td>
              <td data-header="도서관 수">{{ row.library | length }}개</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        {% set error_stack = namespace() %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                {% set error_stack.class = 'is-invalid' %}
                {% set error_stack.msg = message %}
              {% endfor %}
          {% endif %}
        {% endwith %}

        {% set list_url = url_for('admin.roundtable_list') %}
        {% set reg_url = url_for('admin.roundtable_reg') %}

        {% call footer.make_md_footer("d-none d-md-block", paginator, list_url, reg_url, paginate_link_tag, page_url, error_stack) %}
          <select class="form-control" name="search_option">
            <option value="roundtable_num">개최회차</option>
            <option value="roundtable_year">개최년도</option>
          </select>
        {% endcall %}

        {% call footer.make_sm_footer("d-block d-sm-block d-md-none", paginator, list_url, reg_url, paginate_link_tag, page_url, error_stack) %}
          <select class="form-control" name="search_option">
            <option value="roundtable_num">개최회차</option>
            <option value="roundtable_year">개최년도</option>
          </select>
        {% endcall %}
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
{% endblock %}
