{% extends "admin/base.html" %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('public.static', filename='css/mobile-table.css') }}">
{% endblock %}

{% block content %}
    <div class="app-main-container container-fluid">
        <!-- Breadcrumbs-->
        <ol class="app-main-breadcrumb breadcrumb">
            <li class="app-main-breadcrumb-item breadcrumb-item">
                <a class="app-main-breadcrumb-item__a" href="#">회차 관리</a>
            </li>
            <li class="app-main-breadcrumb-item--sub breadcrumb-item active">상세 화면</li>
        </ol>
        <div class="app-main-card">
            <form class="app-main-form">
                <div class="form-group row">
                    <label for="roundtableNum" class="app-main-form__label col-sm-2 col-form-label">개최회차</label>
                    <div class="col-sm-12">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" {% if round.is_active %}checked{% endif %} style="width: 20px;height: 20px;" onchange="active_check('{{ round.id }}', this)">
                          </div>
                        </div>
                        <input type="text" class="form-control" id="roundtableNum"
                               value="{{ round.roundtable_num }}회차" readonly>
                      </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="roundtableYear" class="app-main-form__label col-sm-2 col-form-label">개최년도</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control-plaintext" id="roundtableYear"
                               value="{{ round.roundtable_year }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="roundtableDate" class="app-main-form__label col-sm-2 col-form-label">개최일</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control-plaintext" id="roundtableDate"
                               value="{{ round.roundtable_date }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="app-main-form__label col-form-label col-sm-2 pt-0">준비위원회</label>
                    <div class="col-12">
                        <textarea class="form-control-plaintext" rows="2"
                                  style="background-color: #ffffff;border: solid 1px lightgrey;padding: 10px" readonly>{{ round.staff }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="app-main-form__label col-form-label col-sm-2 pt-0">도서관</label>
                    <div class="col-12">
                        <div class="card" id="library_view_app">
                            <div class="card-body" style="height: 400px; overflow-y: auto">
                                <table class="table table-hover is-responsive">
                                    <thead>
                                    <tr>
                                        <th>도서관명</th>
                                        <th class="d-inline d-sm-block d-md-none"></th>
                                        <th>세션 수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% raw %}
                                    <tr v-for="(item, index) in filtered_library" :key="index">
                                        <th scope="row">{{ item.library.library_name }} <span class="d-none d-md-inline-block">({{ item.library.library_addr }})</span></th>
                                        <td class="d-block d-sm-block d-md-none" data-header="주소">{{ item.library.library_addr }}</td>
                                        <td data-header="세션 수">{{ item.round_num }}</td>
                                    </tr>
                                    {% endraw %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <input type="text" v-model="quick_find_library" class="form-control" placeholder="빠르게 찾기">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row" id="btn_app">
                    <div class="col-sm-10">
{#                      {% if roundtable_modifiable(round) %}#}
                        <a href="{{ url_for('admin.roundtable_edit', round=round.id) }}" class="btn btn-primary">수정</a>
                        <a href="#" @click="delete_round" class="btn btn-danger">삭제</a>
{#                      {% endif %}#}
                    </div>
                </div>
                <script>
                  function active_check(roundtable_id, checkbox) {
                    axios.post("/admin/roundtable/active", {roundtable_id: roundtable_id, checked: checkbox.checked}).then(function (resp) {
                      if (checkbox.checked) {
                        alert('지정하신 회차가 이번에 홈페이지에 보여줄 회차입니다. 다른 회차는 보여주지 않습니다')
                      }
                    })
                  }

                  new Vue({
                      el: '#btn_app',
                      methods: {
                          delete_round: function (e) {
                              if (confirm('삭제하시겠습니까? 되돌릴 수 없습니다')) {
                                  axios.delete('/admin/roundtable/{{ round.id }}').then(function (e) {
                                      alert('개최 회차를 성공적으로 삭제했습니다')
                                      location.href = '/admin'
                                  })
                              }
                          }
                      }
                  })

                  new Vue({
                      el: '#library_view_app',
                      data: {
                          quick_find_library: '',
                          opened_library: {{ opened_library | tojson }}
                      },
                      computed: {
                          filtered_library: function () {
                              if (this.quick_find_library !== '') {
                                  var vm = this
                                  return this.opened_library.filter(function (entry) {
                                      return entry.library.library_name.indexOf(vm.quick_find_library) > -1
                                  })
                              } else {
                                  return this.opened_library
                              }
                          }
                      }
                  })
                </script>
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
