{% extends "admin/base.html" %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/2.6.0/vue-select.js"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('public.static', filename='css/mobile-table.css') }}">
  <style type="text/css">
    .v-select .dropdown-toggle {
      height: 38px !important;
    }

    .v-select .dropdown-toggle::after {
      display: none !important;
    }

    .v-select .spinner, .v-select .spinner:after {
        width: 3em !important;
        height: 3em !important;
    }

    .v-select input[type=search], .v-select input[type=search]:focus {
        margin: 0 0 0 0 !important;
    }

    .v-select .d-center {
        display: flex !important;
        align-items: center !important;
    }

    .v-select .dropdown li {
        border-bottom: 1px solid rgba(112, 128, 144, 0.1) !important;
    }

    .v-select .dropdown li:last-child {
        border-bottom: none !important;
    }

    .v-select .dropdown li a {
        padding: 10px 20px !important;
        width: 100% !important;
        font-size: 1.25em !important;
        color: #3c3c3c !important;
    }

    .v-select .dropdown-menu .active > a {
        color: #fff !important;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="app-main-container container-fluid">
        <div id="app">
            <!-- Breadcrumbs-->
            <ol class="app-main-breadcrumb breadcrumb">
                <li class="app-main-breadcrumb-item breadcrumb-item">
                    <a class="app-main-breadcrumb-item__a" href="#">회차 관리</a>
                </li>
                <li class="app-main-breadcrumb-item--sub breadcrumb-item active">기본 화면</li>
            </ol>
            <div class="app-main-card">
                <form class="app-main-form">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-primary" role="alert">
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endwith %}
                <div class="form-group row">
                    <label for="roundtableNum" class="app-main-form__label col-sm-2 col-form-label">개최회차</label>
                    <div class="col-sm-12">
                        <input type="number" class="form-control" v-model="record.roundtableNum" id="roundtableNum" placeholder="개최회차를 숫자로 입력하세요">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="roundtableYear" class="app-main-form__label col-sm-2 col-form-label">개최년도</label>
                    <div class="col-sm-12">
                        <input type="number" class="form-control" v-model="record.roundtableYear" id="roundtableYear" placeholder="개최년도를 4자리 숫자로 입력하세요">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="app-main-form__label col-form-label col-sm-2 pt-0">준비위원회</label>
                    <div class="col-12">
                        <textarea class="form-control" v-model="record.staff" placeholder="준비위원회 분들 이름을 입력해주시기 바랍니다" rows="2"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="app-main-form__label col-form-label col-sm-2 pt-0">도서관</label>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-none d-md-block">
                                <div class="input-group mb-1">
                                    {% raw %}
                                    <v-select label="library_name" :filterable="false" :options="options"
                                              @search="onSearch" style="flex: 1" v-model="library">
                                        <template slot="no-options">
                                            검색할 도서관 이름을 입력하세요
                                        </template>
                                        <template slot="option" slot-scope="option">
                                            <div class="d-center">
                                                {{ option.library_name }} ({{ option.library_addr }})
                                            </div>
                                        </template>
                                        <template slot="selected-option" slot-scope="option">
                                            <div class="selected d-center">
                                                {{ option.library_name }} ({{ option.library_addr }})
                                            </div>
                                        </template>
                                    </v-select>
                                    {% endraw %}
                                    <select v-model="session_time" class="form-control" style="flex: 0.1">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <select v-model="library_type" class="form-control" style="flex: 0.1">
                                      <option value="일반">일반</option>
                                      <option value="SF">SF</option>
                                      <option value="장애인">장애인</option>
                                      <option value="다문화">다문화</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-info" @click.prevent="library_add">추가</button>
                                        <button class="btn btn-danger" @click.prevent="library_del">삭제</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header d-block d-sm-block d-md-none">
                              {% raw %}
                              <v-select label="library_name" :filterable="false" :options="options"
                                        @search="onSearch" style="flex: 1" v-model="library">
                                <template slot="no-options">
                                  검색할 도서관 이름을 입력하세요
                                </template>
                                <template slot="option" slot-scope="option">
                                  <div class="d-center">
                                    {{ option.library_name }} ({{ option.library_addr }})
                                  </div>
                                </template>
                                <template slot="selected-option" slot-scope="option">
                                  <div class="selected d-center">
                                    {{ option.library_name }} ({{ option.library_addr }})
                                  </div>
                                </template>
                              </v-select>
                              {% endraw %}
                              <select v-model="session_time" class="form-control mt-1" style="flex: 0.1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                              <select v-model="library_type" class="form-control mt-1" style="flex: 0.1">
                                <option value="일반">일반</option>
                                <option value="SF">SF</option>
                                <option value="장애인">장애인</option>
                                <option value="다문화">다문화</option>
                              </select>
                              <div class="btn-group btn-block mt-1">
                                <button class="btn btn-info" @click.prevent="library_add">추가</button>
                                <button class="btn btn-danger" @click.prevent="library_del">삭제</button>
                              </div>
                            </div>
                            <div class="card-body" style="height: 400px; overflow-y: auto">
                              <table class="table table-hover is-responsive">
                                <thead>
                                <tr>
                                  <th>도서관명</th>
                                  <th class="d-inline d-sm-block d-md-none"></th>
                                  <th>세션 수</th>
                                </tr>
                                </thead>
                                <tbody ref="libraries">
                                {% raw %}
                                <tr v-for="(item, index) in record.library_list" :key="index"
                                    @click.stop="library_select($event, index)">
                                  <th scope="row">{{ item.library.library_name }}
                                    <span class="d-none d-md-inline-block">({{ item.library.library_addr }})</span></th>
                                  <td class="d-block d-sm-block d-md-none" data-header="주소">
                                    {{ item.library.library_addr }}
                                  </td>
                                  <td data-header="세션 수">{{ item.session_time }}</td>
                                </tr>
                                {% endraw %}
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" @click.prevent="reg">등록</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

    <script>
    Vue.component('v-select', VueSelect.VueSelect);

    new Vue({
        el: "#app",
        data: {
          record: {
            library_list: [],
            roundtableNum: '',
            roundtableYear: '',
            staff: ''
          },
          options: [],
          library: '',
          session_time: 2,
          library_type: '일반'
        },
        methods: {
          onSearch(search, loading) {
            loading(true);
            this.search(loading, search, this);
          },
          search: _.debounce((loading, search, vm) => {
            fetch(
              `/admin/library/search?library_name=${encodeURI(search)}`
            ).then(res => {
              res.json().then(json => (vm.options = json.items));
              loading(false);
            });
          }, 350),
          library_add (e) {
            let library_info = _.clone(this.record)

            this.record.library_list.push({
              library: this.library,
              session_time: this.session_time,
              library_type: this.library_type
            })

            this.library = ''
            this.session_time = 2
            this.library_type = '일반'
          },
          library_select (e, index) {
            let tbody = e.target.parentElement.parentElement
            let selected = false

            for (let i = 0; i < tbody.children.length; i++) {
              let tr = tbody.children[i]

              if (tr.dataset.hasOwnProperty('selected')) {
                selected = true

                if (index === i) {
                  delete tr.dataset['selected']
                  tr.style.backgroundColor = '#ffffff'
                  tr.style.color = '#495057'
                }

                break
              }
            }

            if (!selected) {
              e.target.parentElement.dataset['selected'] = 'selected'
              e.target.parentElement.style.backgroundColor = '#094D92'
              e.target.parentElement.style.color = '#ffffff'
            }
          },
          library_del (e) {
            if (confirm('선택하신 도서관을 목록에서 빼시겠습니까?')) {
              const libraries = this.$refs.libraries.children

              for (let i = 0; i < libraries.length; i++) {
                let tr = libraries[i]

                if (tr.dataset.hasOwnProperty('selected')) {
                  this.record.library_list.splice(i, 1)
                }
              }

              for (let i = 0; i < libraries.length; i++) {
                let tr = libraries[i]

                delete tr.dataset['selected']
                tr.style.backgroundColor = '#ffffff'
                tr.style.color = '#495057'
              }
            }
          },
          reg (e) {
            var send_data = _.clone(this.record)
            send_data.roundtableDate = this.roundtableDate

            axios.post('/admin/roundtable/reg', send_data).then(function (e) {
              alert('개최 회차 등록이 완료되었습니다')
              location.href = '/admin'
            })
          }
        },
        computed: {
          roundtableDate: function () {
            var roundDate = moment().year(this.record.roundtableYear).month(9).date(1).add(4, 'w').day("Saturday")
            if (roundDate.month() === 10) {
              roundDate = roundDate.subtract(1, 'w').day("Saturday")
            }

            return roundDate.format('YYYY-MM-DD')
          }
        }
    })
    </script>
{% endblock %}
