{% extends "admin/base.html" %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{% endblock %}

{% block content %}
    <div class="app-main-container container-fluid">

        <h4 class="app-main-breadcrumb__title">준비위 회의록</h4>

        <!-- Breadcrumbs-->
        <ol class="app-main-breadcrumb breadcrumb">
            <li class="app-main-breadcrumb-item breadcrumb-item">
                <a class="app-main-breadcrumb-item__a" href="/admin">10월의 하늘</a>
            </li>
            <li class="app-main-breadcrumb-item--sub breadcrumb-item active">준비위 회의록</li>
        </ol>

        <!-- Page Content -->
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            {% for row in paginator %}
                <tr>
                    <th scope="row">{{ (total_cnt - (items_per_page * (page - 1))) - loop.index0 }}</th>
                    <td><a href="{{ url_for('admin.board_view', board=row.id) }}">{{ row.title }}</a></td>
                    <td>{{ row.user.name }}</td>
                    <td>{{ row.wdate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
            <div class="card-footer">
                <div class="row">
                     <div class="col-6">
                        <nav>
                            <ul class="pagination justify-content-start">
                                  {{ paginator.pager(
                                       dotdot_attr={'class':'spacer'},
                                       symbol_first='',
                                       symbol_last='',
                                       symbol_previous='<a href="#"><span>&laquo;</span></a>',
                                       symbol_next='<a href="#"><span>&raquo;</span></a>',
                                       link_tag=paginate_link_tag,
                                       url=page_url|safe) | safe }}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-4">
                      <form action="{{ url_for('admin.board') }}" method="get">
                        <input type="hidden" name="page" value="{{ page }}">
                        <div class="input-group">
                          <div class="input-group-preped">
                            <select class="form-control" name="search_option">
                              <option value="title">제목</option>
                              <option value="content">내용</option>
                            </select>
                          </div>
                          <input type="text" class="form-control" placeholder="검색어를 입력하세요" name="search_word">
                          <div class="input-group-append">
                            <button class="btn btn-success" type="submit">검색하기</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-2 text-right">
                        <a href="{{ url_for('admin.board_reg') }}" class="btn btn-primary">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}