<style type="text/css">
    .my-info-form {
        padding: 30px !important;
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 5px;
    }

    .my-info-form__fieldset {
        color: rgba(0, 0, 0, 0.87);
    }

    .my-info-form-group {
        align-items: baseline;
        text-align: left;
    }

    .my-info-form__label {
        vertical-align: middle;
        font-weight: 700;
    }

    .my-info-form-group__btn{
        background-color: #2C91FE !important;
        color: #fff!important;
    }
    .my-info-form-group__btn:hover{
        background-color: #2c81e5 !important;
    }

    .history-participation {
        padding: 30px !important;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 5px;
    }
    .history-participation__title{
        color: rgba(0, 0, 0, 0.87);
        font-weight: 500;
    }
    .history-participation__wrapper{}
    .history-participation__table {}



</style>

{% block script %}
  <script src="//unpkg.com/vue"></script>
  <script src="//unpkg.com/lodash"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/2.6.0/vue-select.js"></script>
{% endblock %}

{% extends "public/base.html" %}

{% block css %}
{% endblock %}

{% block container %}
  <div id="app">
    <!-- Page Heading/Breadcrumbs -->
    <header class="app-main-header">
        <h1 class="app-main-header__title">내 정보</h1>
    </header>

    <ol class="app-main-breadcrumb breadcrumb">
        <li class="app-main-breadcrumb-item breadcrumb-item">
            <a class="app-main-breadcrumb-item__a" href="index.html">Home</a>
        </li>
        <li class="app-main-breadcrumb-item--sub breadcrumb-item active">내 정보</li>
    </ol>

    <form id="form" class="my-info-form container">
        <header>
            <h5 class="history-participation__title">회원 정보 수정</h5>
        </header>

        <hr>

        <fieldset class="my-info-form__fieldset">
          {% if user[4] == 'username' %}
            <div class="my-info-form-group form-group row">
                <label class="my-info-form__label col-sm-12 col-md-12 col-lg-2">ID</label>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <span class="form-control-static">{{ user[-2].uid }}</span>
                </div>
            </div>
            <div class="my-info-form-group form-group row">
                <label for="password" class="my-info-form__label col-sm-12 col-md-12 col-lg-2">현재 비밀번호</label>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <input type="password" id="password" class="form-control form-control-sm" v-model="password">
                </div>
            </div>
            <div class="my-info-form-group form-group row">
                <label for="newPassword" class="my-info-form__label col-sm-12 col-md-12 col-lg-2">새 비밀번호</label>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <input type="password" id="newPassword" class="form-control form-control-sm" v-model="newPassword" :class="errors['pw']">
                    <div class="invalid-feedback">
                      비밀번호는 입력하신 2개가 일치해야 합니다.
                    </div>
                </div>
                <label for="newPasswordConfirm" class="my-info-form__label col-sm-12 col-md-12 col-lg-2">새 비밀번호 확인</label>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <input type="password" id="newPasswordConfirm" class="form-control form-control-sm" v-model="newPasswordConfirm" :class="errors['repw']">
                    <div class="valid-feedback">
                      잘하셨어요 *^^*
                    </div>
                    <div class="invalid-feedback">
                      비밀번호는 입력하신 2개가 일치해야 합니다.
                    </div>
                </div>
            </div>
          {% elif user[4] != 'username' %}
            <div class="my-info-form-group form-group row">
                <label class="my-info-form__label col-sm-12 col-md-12 col-lg-2">소셜 로그인 경로</label>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <span class="form-control-static">{{ user[4] | social_name }}</span>
                </div>
            </div>
          {% endif %}
            <div class="my-info-form-group form-group row">
                <label for="name" class="my-info-form__label col-sm-12 col-md-12 col-lg-2">이름</label>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <input type="text" id="name" class="form-control form-control-sm" v-model="name">
                </div>
            </div>
            <div class="my-info-form-group form-group row">
                <label for="email" class="my-info-form__label col-sm-12 col-md-12 col-lg-2">이메일</label>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <input type="email" id="email" class="form-control form-control-sm" v-model="email">
                </div>
            </div>
            <div class="my-info-form-group form-group row">
                <label for="phone" class="my-info-form__label col-sm-12 col-md-12 col-lg-2">전화번호</label>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <input type="text" id="phone" class="form-control form-control-sm" v-model="phone">
                </div>
            </div>
            <div class="my-info-form-group form-group row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                    <button class="col-sm-12 col-md-3 col-lg-3 btn btn-sm my-info-form-group__btn" @click.prevent="modify">수정</button>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="history-participation container">
        <header>
            <h5 class="history-participation__title">참여기록 조회</h5>
        </header>

        <hr>

        <div class="history-participation__wrapper table-responsive-sm">
            <table class="history-participation__table table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>참여회차</th>
                    <th>도서관</th>
                    <th>강연명</th>
                    <th>강연일</th>
                    <th>참여구분</th>
                    <th>취소</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in user[8].lecture %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ entry.roundtable.roundtable_num }} 회차</td>
                  <td>{{ entry.library.library_name }}</td>
                  <td>{{ entry.lecture_title }}</td>
                  <td>{{ entry.roundtable.roundtable_date }}</td>
                  <td>강연기부</td>
                  <td class="btn-group">
                    {% if modifed_allow_date(entry) %}
                    <button class="btn btn-info btn-sm" @click.prevent="modify_lecture_show('{{ entry.id }}')">수정</button>
                    <button class="btn btn-danger btn-sm" @click.prevent="cancel('lecture', '{{ entry.id }}')">취소</button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% for entry in user[8].host %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ entry.roundtable.roundtable_num }} 회차</td>
                  <td>{{ entry.library.library_name }}</td>
                  <td>-</td>
                  <td>{{ entry.roundtable.roundtable_date }}</td>
                  <td>진행기부</td>
                  <td class="btn-group">
                    {% if modifed_allow_date(entry) %}
                    <button class="btn btn-danger btn-sm" @click.prevent="cancel('host', '{{ entry.id }}')">취소</button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade lecture_modify" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          {% raw %}
          <div class="modal-header">
            <h5 class="modal-title" id="lecture_title">강연 기부 수정({{ lecture_info.library.area }} {{ lecture_info.library.library_name }})</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endraw %}
          <div class="modal-body">
            <div class="form-group">
              <label>강연장 정보</label>
              <div class="form-control-static">
                {% raw %}
                <ul>
                  <li>강연장 환경: {{ lecture_info.library.library_description }}</li>
                  <li>청중 연령: {{ lecture_info.library.expected_audience }}</li>
                </ul>
                {% endraw %}
              </div>
            </div>

            {% raw %}
            <div class="form-group">
              <label for="exampleInputEmail2">강연 시간</label>
              <select id="Time" class="form-control" v-model="lecture_info.session_time">
                <option value="">선택하세요</option>
                <option v-for="(item, index) in available_session_time" :key="index" :value="item">강연 {{ item }}({{ item + 1 }}시)</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Title">강연 제목</label>
              <input type="text" id="Title" placeholder="강연 제목을 입력하세요" class="form-control"
                     v-model="lecture_info.title">
            </div>

            <div class="form-group">
              <label for="Summary">강연개요</label>
              <textarea type="text" id="Summary" placeholder="강연개요를 입력하세요" rows="5"
                        v-model="lecture_info.description" class="form-control"></textarea>
            </div>
            {% endraw %}

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="ExpectedAudience">예상청중</label>
                  <input type="text" id="ExpectedAudience" v-model="lecture_info.expectedaudience"
                         class="form-control" placeholder="예상 청중을 입력하세요">
                </div>
              </div>
            </div>

            {% raw %}
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="lecture_info.public_yn"> 강연 영상 공개에 동의하십니까?
              </label>
            </div>
            {% endraw %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" @click.prevent="modify_lecture">수정하기</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  new Vue({
    el: '#app',
    data: {
      password: '',
      name: '{{ user[1] or '' }}',
      email: '{{ user[2] or '' }}',
      phone: '{{ user[3] or '' }}',
      newPassword : '',
      newPasswordConfirm : '',
      is_submited: false,
      validated: true,
      available_session_time: [],
      lecture_info: {
        id: 0,
        title: '',
        description: '',
        public_yn: false,
        session_time: '',
        roundtable_num: '',
        library_id: '',
        expectedaudience: '',
        library: {
          library_name: '',
          area: '',
          library_description: '',
          expected_audience: '',
          library_addr: ''
        }
      }
    },
    computed: {
      errors: function () {
        if (this.newPassword !== '' && this.newPasswordConfirm !== '') {
          let password_isvalid = this.newPassword === this.newPasswordConfirm

          return {
            pw: {'is-invalid': this.is_submited && this.newPassword === '' || (this.newPassword !== '' && !password_isvalid)},
            repw: {'is-invalid': this.is_submited && this.newPasswordConfirm === '' || (this.newPasswordConfirm !== '' && !password_isvalid)},
          }
        } else {
          return {
            pw: true,
            repw: true,
          }
        }
      },
      allow_access_date: function () {
          // 1. 
      }
    },
    methods: {
      modify: function (e) {
        this.is_submited = true

        if (this.newPassword !== '' && this.newPasswordConfirm !== '') {
          this.validated = (this.newPassword !== '' && this.newPasswordConfirm !== '')
        }

        var vm = this

        if (this.validated) {
          axios.post('/myinfo/edit', {
            current_password: this.password,
            new_password: this.newPassword,
            name: this.name,
            email: this.email,
            phone: this.phone
          }).then(function (resp) {
            if (resp.data.success) {
              alert('회원정보 수정이 완료되었습니다')
              vm.newPassword = ''
              vm.newPasswordConfirm = ''
            } else {
              alert(resp.data.msg)
            }
          })
        }
      },
      cancel: function (cancel_type, cancel_id) {
        var question_name = '강연을 취소하시겠습니까? 되돌릴 수 없습니다'
        var success_message = '강연 신청이 취소되었습니다'
        if (cancel_type === 'host') {
          question_name = '진행을 취소하시겠습니까? 되돌릴 수 없습니다'
          success_message = '진행 신청이 취소되었습니다'
        }

        if (confirm(question_name)) {
          axios.post('{{ url_for('public.delete_donation') }}', {
            cancel_type: cancel_type,
            cancel_id: cancel_id
          }).then(function (resp) {
            alert(success_message)
              location.reload()
          })
        }
      },
      modify_lecture_show: function (donate_id) {
        $(".lecture_modify").modal('show')

        var vm = this
          
        axios.get('/donation/lecture/' + donate_id).then(function (resp) {
          var record = resp.data.record

          vm.lecture_info.id = record.id
          vm.lecture_info.title = record.lecture_title
          vm.lecture_info.description = record.lecture_summary
          vm.lecture_info.public_yn = record.lecture_public_yn
          vm.lecture_info.session_time = record.session_time
          vm.lecture_info.roundtable_num = record.roundtable
          vm.lecture_info.library_id = record.library.id
          vm.lecture_info.expectedaudience = record.lecture_expected_audience
          vm.lecture_info.library = record.library

          vm.available_session_time = resp.data.available_session_time
        })
      },
      modify_lecture: function () {
        axios.post('/donation/lecture/' + this.lecture_info.id, this.lecture_info).then(function (resp) {
          alert('성공적으로 업데이트 되었습니다.')
          $(".lecture_modify").modal('hide')
          location.reload()
        })
      }
    }
  })
  </script>
{% endblock %}