{% extends "public/base.html" %}

{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" type="text/css">
    <style>
         body {
            background-repeat: no-repeat;
            background-size: unset;
        }

        .app-main {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .app-main-wrapper {
            height: calc(100vh - 56px);
        }

        .login-form {
            min-width: 100%;
        }

        .login-form-wrapper {
            min-width: 100%;
        }


        .login-form-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.0);
        }

        .login-form-right {
            display: flex;
            align-items: center;
        }

        .login-form-left__title {
            font-weight: 300;
            font-size: 1.8rem;
        }

        .login-form-group__label {
            color: #000;
        }

        .login-btn {
            background-color: #1D7CEE !important;
            color: #fff;
        }

        .login-btn:hover {
            background-color: #216bd3 !important;
        }

        .btn-social :first-child {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 40px;
            padding: 7px;
            font-size: 1.6em;
            text-align: center;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
    </style>

{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{% endblock %}

{% block container %}
  <div class="login-form-wrapper row" id="app">
    <div class="login-form-left col-sm-12 col-md-4 col-lg-4">
      <div class="login-form-left_inner">
        <h2 class="login-form-left__title">10월의 하늘<br> 비밀번호 초기화<br>페이지</h2>
        <p class="login-form-left__p">비밀번호가 기억나지 않는다면 여기로 오세요.</p>
      </div>
    </div>
    <div class="login-form-right col-sm-12 col-md-8 col-lg-6">
      <div class="login-form">
        <form method="post">
          <div class="login-form-group form-group">
            <label class="login-form-group__label" >비밀번호 입력</label>
            <input type="password" id="reset_password" name="reset_password" v-model="reset_password" class="login-form__input form-control"
                   placeholder="비밀번호 입력">
          </div>
          <div class="login-form-group form-group">
            <label class="login-form-group__label" >비밀번호 재확인</label>
            <input type="password" id="reset_match_password" name="reset_match_password" v-model="reset_match_password" class="login-form__input form-control"
                   placeholder="비밀번호 재확인">
          </div>
          <div class="form-group row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <button type="submit" class="btn login-btn btn-block" @click.prevent="reset_complete_password">비밀번호 초기화하기</button>
            </div>
          </div>
        </form>
        <hr class="hr--white">
      </div>
    </div>
  </div>
  <script>
  new Vue({
    el: '#app',
    data: {
      reset_password : '',
      reset_match_password : ''
    },
    methods: {
      reset_complete_password: function (e) {
        axios.post('{{ url_for('public.reset_complete_password', uuid=uuid) }}', {
          reset_password: this.reset_password,
          reset_match_password : this.reset_match_password
        }).then(function (resp) {
          if (resp.data.success) {
            alert("비밀번호가 변경되었습니다.");
            location.href= '/';
          } else {
            alert("변경할 비밀번호와 확인할 비밀번호가 일치하지 않습니다.");
          }
        })
      }
    }
  })
  </script>
{% endblock %}